Minimum hardware requirements:
Header OS: FreeBSD Latest
CPU: 80486(not sx)
GPU: EGA or None
Memory: 96MB
Disk: 40MB Remain
Network adapter or PPPoE: None
Sound Card: None or spe

Recommend hardware requirements:
Header OS: Any latest linux distro with python support
CPU: Pentium II
GPU: VGA or SVGA
Memory: 256MB
Disk: 1GB Remain
Network adapter or PPPoE: any
Sound Card: Realtek any or Sound Blaster 16+
